// app global css in Sass form
header, .container
    max-width: 1366px
    margin: auto

header
    padding: 50px 0 0 0

@media screen and (max-width: 1366px)
    header
        padding: 20px

.left-border-sm
    border-left: 3px black solid
