// app global css in Sass form
body, header
    max-width: 1366px
    margin: auto

header
    margin: 50px auto

@media screen and (max-width: 1366px)
    header
        margin: 20px

.left-border-sm
    border-left: 3px black solid